<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>nexus@123</password>
   </server>
</servers>
     

 <mirrors>
    <mirror>
      <id>nexus</id>
       <url>http://nexus-repository-manager-nexus.apps.hdfc-lab.na-1.rht-labs.com/repository/idcom-group/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
